{
	"data": "ENC[AES256_GCM,data:pkAIzg8IDaTZtBfK4Y2lYfrFa1Cza6mIUzcLAEb/ME7vtflbxxA6d8BsF7/0W8ltw7lVM1evnNFr8r8raoel0vyKS/dVzHn+TzyXEeg6DVjT3sRT51vt5g1hy6QmUIJrZ/9//KGrJICM1igdqKFVbdmfqR4kR5ZtH3zwxywi93NdNtH41FNSi6ICI+o5DwRxQ2IrfaTCJrW1+lu2xlE=,iv:obnKSl0LsBpo0i6Gc4CABgevYdnjkq9N5yzt1SbkzQU=,tag:vo8TiG5pv2k8u8+KW4CSxg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": [
			{
				"resource_id": "projects/cldntventr/locations/global/keyRings/sops/cryptoKeys/sops-key",
				"created_at": "2020-05-05T14:23:59Z",
				"enc": "CiQATC0VFo1UKTpGFomMsOmah/utS4KXq9A9e02z/NhuGqDwMBsSSQANilv0iPHiFtPzUx52bbNdZrKcEhXlDCh9m4IS+WG6qouUykTk3FLNY60YznQMMAPyjCXEE/gWtTKU61cIz3wGbFwCS/o9EPM="
			}
		],
		"azure_kv": null,
		"lastmodified": "2020-05-05T14:24:00Z",
		"mac": "ENC[AES256_GCM,data:WvplV3IHhjbPF6WZRP2D6nmFmUyxHbd/+IUqTgC65kQa+3keGwJfYKcFhzQP5gkMEqZh2PxDl41RzeZgxRUY8iN0s95l/VC+WbJaPuGVzXwLlpD+G5hpkTKg0LCUGHXlcXWfpP8W0NN9RZaAYFVRjmh286+GEgudp0h/CFQlpYs=,iv:S9sWI4aY5LrTJMTBSk1ygEKIyGWHdbmLfcsjAHIqEWQ=,tag:xXFIw4or1ShY3Jdw/2QuwQ==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.5.0"
	}
}