{
	"data": "ENC[AES256_GCM,data:UaHdFEIPjKgcZ13NeVreJ3KWXCrDDX8afZnF6BYSyJ27uEnM80WeAizTN9rg/MyjAusaB2wahG77BUvzzP64ALRq+0wsrm+hvFOFAkAUyajz9nRW8aqsU/sh92lUb1mbmdEzOz3MDVc5Ob9Mt9rnanVBLjcko8zoz79iJ/lL6AqVlMU+0e+/JepsoOsHo/JYK4ksS6GTqaZ0i0SB7ac=,iv:O5MxuqMJcHyd5J0bLtSYWIZCY6bqI7S9rBUP3/lj0f4=,tag:lppVCwpQ4yhR4fGunC3hWA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": [
			{
				"resource_id": "projects/cldntventr/locations/global/keyRings/sops/cryptoKeys/sops-key",
				"created_at": "2020-05-26T00:10:30Z",
				"enc": "CiQATC0VFqkJmQD3kYoAzPEhMtezB89W5drN1AqxkPHJcUnjuewSSQANilv0WGwmvHrGtFdUo5SJEYEIQ5lxrfxKuIJhpI+Iu9aqufAtoYta9nsYtT1kEbrmXlM4T8UUeIbS/+QgUJ3Y5+LLirYLwWw="
			}
		],
		"azure_kv": null,
		"lastmodified": "2020-05-26T00:10:30Z",
		"mac": "ENC[AES256_GCM,data:ZcVUME3RLZWPeILCl+kSygWNBOEimdlNMG/iKiw3e+C05F687KKVm1AGvqP5V84hLKmSBE0KV36qiUfJCGjEdDqiuxkoJ5KnmiMsD23RQI3EuA170t0LmVxOvi8HV4muBj9wFqvkFNRv1/ndqyciQEiqS7ru0tFh39SYhaVfodw=,iv:0cEDMhCCsDJrJ9spD+Z5W01EKmL4FSgg7NQQeriMRcM=,tag:/1wPQ6UEm6krto0jMGa0OA==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.5.0"
	}
}