{
	"data": "ENC[AES256_GCM,data:mLf33pNy7ppgeRJg/5aiAXrKzAdzfR7pwadiW6Wei1N5+QPZDVThCI94CbfNf8+gI8TNSSa9N9JV4H2UJhf3/PcdsVT9kdeu04oFLC1blKG+xzUoc8hl2gJTwvsbY4AVGcAY0uRDBkICPpYWbT9Fks6RYDdlgCfit4k2kjdhZOk6NAhRLU937VeZa/lcvsaknaeQyRcN7IoZwgLPba4=,iv:mJn027ExEJ80lie9ZaX3/H4yXHcpIZHMgdaLMvhklqc=,tag:p3tHKFKqCkD7Rh4FgYw6SA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": [
			{
				"resource_id": "projects/cldntventr/locations/global/keyRings/sops/cryptoKeys/sops-key",
				"created_at": "2020-05-26T19:57:31Z",
				"enc": "CiQATC0VFnBz52bZYdUpIPrtdTaajl5EUKmoH/GGajKWY3r20ZgSSQANilv0Ckx0B3SgXQnN6UVFlaKoZlQ2kPvQR988aTP55ytF7uUReGtW/9o31K5TT9bV5F9/CdY894mGPeobaynJfbKAV0BiSKI="
			}
		],
		"azure_kv": null,
		"lastmodified": "2020-05-26T19:57:31Z",
		"mac": "ENC[AES256_GCM,data:yN4UmdL05s3JV8mOpFQ/15W2meshtFRK+9cv1G+xctp3jZLqkG+OXzSxziPq9F7aUt8e950VNSlO9zQ94I6ioh4IIRYxoz5ah559C/oJePX9PxRzX36hy+cfYgFzFzP4SFpPNRw1VEE/wNUxdQAHIOYiK6Z1P9DnViCGkX+1c4Y=,iv:zY9AFnEQfkcuP47RdcFdkGMDhMzil5GqIYId19JHSPg=,tag:Eg+K607eBua7ofPQSRpEVg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.5.0"
	}
}